body {
  background-image: url('./img/new/background/background-2.svg');
  background-color: #8da04a;
  background-attachment: fixed;
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  /*
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg');
  --background-size: 30px;
  --background-position: 15px;
  --color-one: #798b3c;
  --color-two: #b6cc66;
  --color-three: #d9e6a7;
  --color-background: #c8d3a7;
  --color-four: #e0ead7;
  --color-five: #edffdb;
  --color-six: #ffffff;
  
  background-image: radial-gradient(
      closest-side,
      transparent 0%,
      transparent 75%,
      var(--color-two) 76%,
      var(--color-two) 85%,
      var(--color-five) 86%,
      var(--color-five) 94%,
      var(--color-six) 95%,
      var(--color-six) 103%,
      var(--color-three) 104%,
      var(--color-three) 112%,
      var(--color-one) 113%,
      var(--color-one) 121%,
      var(--color-six) 122%,
      var(--color-six) 130%,
      var(--color-four) 131%,
      var(--color-four) 140%
    ),
    radial-gradient(
      closest-side,
      transparent 0%,
      transparent 75%,
      var(--color-two) 76%,
      var(--color-two) 85%,
      var(--color-five) 86%,
      var(--color-five) 94%,
      var(--color-six) 95%,
      var(--color-six) 103%,
      var(--color-three) 104%,
      var(--color-three) 112%,
      var(--color-one) 113%,
      var(--color-one) 121%,
      var(--color-six) 122%,
      var(--color-six) 130%,
      var(--color-four) 131%,
      var(--color-four) 140%
    );
  background-size: var(--background-size) var(--background-size);
  background-color: var(--color-background);
  background-position: 0 0, var(--background-position) var(--background-position); */
}

.container {
  background-color: rgba(255, 255, 255, 0.7);
  margin: 30px auto;
  border-radius: 15px;
}

.row.justify-content-md-center .col-sm {
  text-align: center;
  padding: 30px;
  height: 440px;
}

.container > .row > div > img {
  max-height: 100%;
}

.card-deck .card img {
  display: block;
  margin: auto auto;
  width: 100%;
  max-height: 100%;
  
}

.card {
  margin: 5px 20px;
  border-radius: 10px;
}

.card-top-image {
  height: 290px;
  padding: 20px;
}

.btn-group > .btn:not(:first-child),
.btn-group > .btn-group:not(:first-child) {
  margin-left: -1px;
  max-width: 35px;
}
.btn-lg,
.btn-group-lg > .btn {
  padding: 0.5rem 0;
}

div.card-footer.h5 {
  margin-bottom: 0;
}
/* 
@media (min-width: 768px) {
  .container {
      max-width: 100%;
  }
}
 */
@media (min-width: 1200px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 576px) {
  .card-deck .card {
    margin: 10px 10px;
    flex-wrap: wrap;
  }

  .card {
    min-width: 330px;
  }
}

/* @media (min-width: 518px) {
  .container {
    margin: 0 auto;
  }
} */